<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        version="1.0.0"
        id="org.rleite.cnourapp">
  <name>CnourApp</name>
  <description>App do café Cenoura.</description>
  <author email="raphaelleie.oliveira@gmail.com">RLeite</author>
  <icon src="icon.png" />
  <plugin name="cordova-plugin-splashscreen" />
  <splash src="splash.png" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />

</widget>
